<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/autosalone?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1111</property>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="show_sql">true</property>

        <mapping class="kotlarchik.model.Bodytype"/>
        <mapping class="kotlarchik.model.Buyer"/>
        <mapping class="kotlarchik.model.Contract"/>
        <mapping class="kotlarchik.model.Dealer"/>
        <mapping class="kotlarchik.model.Employee"/>
        <mapping class="kotlarchik.model.Engine"/>
        <mapping class="kotlarchik.model.Equipment"/>
        <mapping class="kotlarchik.model.Instanceengine"/>
        <mapping class="kotlarchik.model.Instancemodel"/>
        <mapping class="kotlarchik.model.Instancetransmission"/>
        <mapping class="kotlarchik.model.Gears"/>
        <mapping class="kotlarchik.model.Marka"/>
        <mapping class="kotlarchik.model.Model"/>
        <mapping class="kotlarchik.model.Options"/>
        <mapping class="kotlarchik.model.PTS"/>
        <mapping class="kotlarchik.model.Transmission"/>
    </session-factory>
</hibernate-configuration>